body[theme-mode="dark"] {
	--color-red-0: rgba(108, 9, 11, 1);
	--color-red-1: rgba(144, 17, 16, 1);
	--color-red-2: rgba(180, 32, 25, 1);
	--color-red-3: rgba(215, 51, 36, 1);
	--color-red-4: rgba(251, 73, 50, 1);
	--color-red-5: rgba(252, 114, 90, 1);
	--color-red-6: rgba(253, 153, 131, 1);
	--color-red-7: rgba(253, 190, 172, 1);
	--color-red-8: rgba(254, 224, 213, 1);
	--color-red-9: rgba(255, 243, 239, 1);
	--color-pink-0: rgba(92, 7, 48, 1);
	--color-pink-1: rgba(128, 14, 65, 1);
	--color-pink-2: rgba(164, 23, 81, 1);
	--color-pink-3: rgba(199, 34, 97, 1);
	--color-pink-4: rgba(235, 47, 113, 1);
	--color-pink-5: rgba(239, 86, 134, 1);
	--color-pink-6: rgba(243, 126, 159, 1);
	--color-pink-7: rgba(247, 168, 188, 1);
	--color-pink-8: rgba(251, 211, 220, 1);
	--color-pink-9: rgba(253, 238, 241, 1);
	--color-purple-0: rgba(74, 16, 97, 1);
	--color-purple-1: rgba(94, 23, 118, 1);
	--color-purple-2: rgba(115, 31, 138, 1);
	--color-purple-3: rgba(137, 40, 159, 1);
	--color-purple-4: rgba(160, 51, 179, 1);
	--color-purple-5: rgba(181, 83, 194, 1);
	--color-purple-6: rgba(202, 120, 209, 1);
	--color-purple-7: rgba(221, 160, 225, 1);
	--color-purple-8: rgba(239, 206, 240, 1);
	--color-purple-9: rgba(247, 235, 247, 1);
	--color-violet-0: rgba(64, 27, 119, 1);
	--color-violet-1: rgba(76, 36, 140, 1);
	--color-violet-2: rgba(88, 46, 160, 1);
	--color-violet-3: rgba(100, 57, 181, 1);
	--color-violet-4: rgba(114, 70, 201, 1);
	--color-violet-5: rgba(136, 101, 212, 1);
	--color-violet-6: rgba(162, 136, 223, 1);
	--color-violet-7: rgba(190, 173, 233, 1);
	--color-violet-8: rgba(221, 212, 244, 1);
	--color-violet-9: rgba(241, 238, 250, 1);
	--color-indigo-0: rgba(23, 30, 101, 1);
	--color-indigo-1: rgba(32, 41, 122, 1);
	--color-indigo-2: rgba(41, 54, 142, 1);
	--color-indigo-3: rgba(52, 68, 163, 1);
	--color-indigo-4: rgba(64, 83, 183, 1);
	--color-indigo-5: rgba(95, 113, 197, 1);
	--color-indigo-6: rgba(129, 145, 212, 1);
	--color-indigo-7: rgba(167, 180, 226, 1);
	--color-indigo-8: rgba(209, 216, 241, 1);
	--color-indigo-9: rgba(237, 239, 248, 1);
	--color-blue-0: rgba(5, 49, 112, 1);
	--color-blue-1: rgba(10, 70, 148, 1);
	--color-blue-2: rgba(19, 92, 184, 1);
	--color-blue-3: rgba(29, 117, 219, 1);
	--color-blue-4: rgba(41, 144, 255, 1);
	--color-blue-5: rgba(84, 169, 255, 1);
	--color-blue-6: rgba(127, 193, 255, 1);
	--color-blue-7: rgba(169, 215, 255, 1);
	--color-blue-8: rgba(212, 236, 255, 1);
	--color-blue-9: rgba(239, 248, 255, 1);
	--color-light-blue-0: rgba(0, 55, 97, 1);
	--color-light-blue-1: rgba(0, 77, 133, 1);
	--color-light-blue-2: rgba(3, 102, 169, 1);
	--color-light-blue-3: rgba(10, 129, 204, 1);
	--color-light-blue-4: rgba(19, 159, 240, 1);
	--color-light-blue-5: rgba(64, 180, 243, 1);
	--color-light-blue-6: rgba(110, 200, 246, 1);
	--color-light-blue-7: rgba(157, 220, 249, 1);
	--color-light-blue-8: rgba(206, 238, 252, 1);
	--color-light-blue-9: rgba(235, 248, 254, 1);
	--color-cyan-0: rgba(4, 52, 61, 1);
	--color-cyan-1: rgba(7, 79, 92, 1);
	--color-cyan-2: rgba(10, 108, 123, 1);
	--color-cyan-3: rgba(14, 137, 153, 1);
	--color-cyan-4: rgba(19, 168, 184, 1);
	--color-cyan-5: rgba(56, 187, 198, 1);
	--color-cyan-6: rgba(98, 205, 212, 1);
	--color-cyan-7: rgba(145, 223, 227, 1);
	--color-cyan-8: rgba(198, 239, 241, 1);
	--color-cyan-9: rgba(231, 247, 248, 1);
	--color-teal-0: rgba(2, 60, 57, 1);
	--color-teal-1: rgba(4, 90, 85, 1);
	--color-teal-2: rgba(7, 119, 111, 1);
	--color-teal-3: rgba(10, 149, 136, 1);
	--color-teal-4: rgba(14, 179, 161, 1);
	--color-teal-5: rgba(51, 194, 176, 1);
	--color-teal-6: rgba(94, 209, 193, 1);
	--color-teal-7: rgba(142, 225, 211, 1);
	--color-teal-8: rgba(196, 240, 232, 1);
	--color-teal-9: rgba(230, 247, 244, 1);
	--color-green-0: rgba(18, 60, 25, 1);
	--color-green-1: rgba(28, 90, 37, 1);
	--color-green-2: rgba(39, 119, 49, 1);
	--color-green-3: rgba(50, 149, 61, 1);
	--color-green-4: rgba(62, 179, 73, 1);
	--color-green-5: rgba(93, 194, 100, 1);
	--color-green-6: rgba(127, 209, 132, 1);
	--color-green-7: rgba(166, 225, 168, 1);
	--color-green-8: rgba(208, 240, 209, 1);
	--color-green-9: rgba(236, 247, 236, 1);
	--color-light-green-0: rgba(38, 61, 19, 1);
	--color-light-green-1: rgba(59, 92, 29, 1);
	--color-light-green-2: rgba(81, 123, 40, 1);
	--color-light-green-3: rgba(103, 153, 52, 1);
	--color-light-green-4: rgba(127, 184, 64, 1);
	--color-light-green-5: rgba(151, 198, 95, 1);
	--color-light-green-6: rgba(176, 212, 129, 1);
	--color-light-green-7: rgba(201, 227, 167, 1);
	--color-light-green-8: rgba(228, 241, 209, 1);
	--color-light-green-9: rgba(243, 248, 237, 1);
	--color-lime-0: rgba(49, 70, 3, 1);
	--color-lime-1: rgba(75, 105, 5, 1);
	--color-lime-2: rgba(103, 141, 9, 1);
	--color-lime-3: rgba(132, 176, 12, 1);
	--color-lime-4: rgba(162, 211, 17, 1);
	--color-lime-5: rgba(174, 220, 58, 1);
	--color-lime-6: rgba(189, 229, 102, 1);
	--color-lime-7: rgba(207, 237, 150, 1);
	--color-lime-8: rgba(229, 246, 201, 1);
	--color-lime-9: rgba(243, 251, 233, 1);
	--color-yellow-0: rgba(84, 73, 3, 1);
	--color-yellow-1: rgba(126, 108, 6, 1);
	--color-yellow-2: rgba(168, 142, 10, 1);
	--color-yellow-3: rgba(210, 175, 15, 1);
	--color-yellow-4: rgba(252, 206, 20, 1);
	--color-yellow-5: rgba(253, 222, 67, 1);
	--color-yellow-6: rgba(253, 235, 113, 1);
	--color-yellow-7: rgba(254, 245, 160, 1);
	--color-yellow-8: rgba(254, 251, 208, 1);
	--color-yellow-9: rgba(255, 254, 236, 1);
	--color-amber-0: rgba(81, 46, 9, 1);
	--color-amber-1: rgba(121, 75, 15, 1);
	--color-amber-2: rgba(161, 107, 22, 1);
	--color-amber-3: rgba(202, 143, 30, 1);
	--color-amber-4: rgba(242, 183, 38, 1);
	--color-amber-5: rgba(245, 202, 80, 1);
	--color-amber-6: rgba(247, 219, 122, 1);
	--color-amber-7: rgba(250, 234, 166, 1);
	--color-amber-8: rgba(252, 246, 210, 1);
	--color-amber-9: rgba(254, 251, 237, 1);
	--color-orange-0: rgba(85, 31, 3, 1);
	--color-orange-1: rgba(128, 53, 6, 1);
	--color-orange-2: rgba(170, 80, 10, 1);
	--color-orange-3: rgba(213, 111, 15, 1);
	--color-orange-4: rgba(255, 146, 20, 1);
	--color-orange-5: rgba(255, 174, 67, 1);
	--color-orange-6: rgba(255, 199, 114, 1);
	--color-orange-7: rgba(255, 221, 161, 1);
	--color-orange-8: rgba(255, 239, 208, 1);
	--color-orange-9: rgba(255, 249, 237, 1);
	--color-grey-0: rgba(28, 31, 35, 1);
	--color-grey-1: rgba(46, 50, 56, 1);
	--color-grey-2: rgba(65, 70, 76, 1);
	--color-grey-3: rgba(85, 91, 97, 1);
	--color-grey-4: rgba(107, 112, 117, 1);
	--color-grey-5: rgba(136, 141, 146, 1);
	--color-grey-6: rgba(167, 171, 176, 1);
	--color-grey-7: rgba(198, 202, 205, 1);
	--color-grey-8: rgba(230, 232, 234, 1);
	--color-grey-9: rgba(249, 249, 249, 1);
	--sukee-color-primary: var(--color-blue-5);
	--sukee-color-primary-hover: var(--color-blue-6);
	--sukee-color-primary-active: var(--color-blue-7);
	--sukee-color-primary-disabled: var(--color-blue-2);
	--sukee-color-light-primary: rgba(84, 169, 255, 0.2);
	--sukee-color-light-primary-hover: rgba(84, 169, 255, 0.3);
	--sukee-color-light-primary-active: rgba(84, 169, 255, 0.4);
	--sukee-color-secondary: var(--color-light-blue-5);
	--sukee-color-secondary-hover: var(--color-light-blue-6);
	--sukee-color-secondary-active: var(--color-light-blue-7);
	--sukee-color-secondary-disabled: var(--color-light-blue-2);
	--sukee-color-light-secondary: rgba(64, 180, 243, 0.2);
	--sukee-color-light-secondary-hover: rgba(64, 180, 243, 0.3);
	--sukee-color-light-secondary-active: rgba(64, 180, 243, 0.4);
	--sukee-color-tertiary: var(--color-grey-5);
	--sukee-color-tertiary-hover: var(--color-grey-6);
	--sukee-color-tertiary-active: var(--color-grey-7);
	--sukee-color-light-tertiary: rgba(136, 141, 146, 0.2);
	--sukee-color-light-tertiary-hover: rgba(136, 141, 146, 0.3);
	--sukee-color-light-tertiary-active: rgba(136, 141, 146, 0.4);
	--sukee-color-info: var(--color-blue-5);
	--sukee-color-info-hover: var(--color-blue-6);
	--sukee-color-info-active: var(--color-blue-7);
	--sukee-color-info-disabled: var(--color-blue-2);
	--sukee-color-light-info: rgba(84, 169, 255, 0.2);
	--sukee-color-light-info-hover: rgba(84, 169, 255, 0.3);
	--sukee-color-light-info-active: rgba(84, 169, 255, 0.4);
	--sukee-color-success: var(--color-green-5);
	--sukee-color-success-hover: var(--color-green-6);
	--sukee-color-success-active: var(--color-green-7);
	--sukee-color-success-disabled: var(--color-green-2);
	--sukee-color-light-success: rgba(93, 194, 100, 0.2);
	--sukee-color-light-success-hover: rgba(93, 194, 100, 0.3);
	--sukee-color-light-success-active: rgba(93, 194, 100, 0.4);
	--sukee-color-warning: var(--color-orange-5);
	--sukee-color-warning-hover: var(--color-orange-6);
	--sukee-color-warning-active: var(--color-orange-7);
	--sukee-color-light-warning: var(--color-orange-0);
	--sukee-color-light-warning-hover: var(--color-orange-1);
	--sukee-color-light-warning-active: var(--color-orange-2);
	--sukee-color-danger: var(--color-red-5);
	--sukee-color-danger-hover: var(--color-red-6);
	--sukee-color-danger-active: var(--color-red-7);
	--sukee-color-light-danger: var(--color-red-0);
	--sukee-color-light-danger-hover: var(--color-red-1);
	--sukee-color-light-danger-active: var(--color-red-2);
	--sukee-color-text-0: rgba(249, 249, 249, 1);
	--sukee-color-text-1: rgba(249, 249, 249, 0.8);
	--sukee-color-text-2: rgba(249, 249, 249, 0.6);
	--sukee-color-text-3: rgba(249, 249, 249, 0.35);
	--sukee-color-link: var(--color-blue-5);
	--sukee-color-link-hover: var(--color-blue-6);
	--sukee-color-link-active: var(--color-blue-7);
	--sukee-color-link-visited: var(--color-blue-5);
	--sukee-color-disabled-text: rgba(249, 249, 249, 0.35);
	--sukee-color-disabled-border: var(--color-grey-1);
	--sukee-color-disabled-background: var(--color-grey-1);
	--sukee-color-disabled-fill: rgba(230, 232, 234, 0.04);
	--sukee-color-background-0: rgba(22, 22, 26, 1);
	--sukee-color-background-1: rgba(35, 36, 41, 1);
	--sukee-color-background-2: rgba(53, 54, 60, 1);
	--sukee-color-background-3: rgba(67, 68, 74, 1);
	--sukee-color-background-4: rgba(79, 81, 89, 1);
	--semi-color-overlay-background: rgba(22, 22, 26, 0.4);
	--sukee-color-fill-0: rgba(255, 255, 255, 0.12);
	--sukee-color-fill-1: rgba(255, 255, 255, 0.16);
	--sukee-color-fill-2: rgba(255, 255, 255, 0.2);
	--sukee-color-border: rgba(255, 255, 255, 0.08);
	--sukee-font-size-small: 12px;
	--sukee-font-size-regular: 14px;
	--sukee-font-size-header-6: 16px;
	--sukee-font-size-header-5: 18px;
	--sukee-font-size-header-4: 20px;
	--sukee-font-size-header-3: 24px;
	--sukee-font-size-header-2: 28px;
	--sukee-font-size-header-1: 32px;
	--sukee-border-radius-extra-small: 3px;
	--sukee-border-radius-small: 3px;
	--sukee-border-radius-medium: 6px;
	--sukee-border-radius-large: 12px;
	--sukee-border-radius-circle: 50%;
	--sukee-border-radius-full: 9999px;
	/* 二维码 */
	--sukee-qrcode-mask-background: rgba(20, 20, 20, 0.86);
	/* 内边距 */
	--sukee-padding-xxs: 4px;
	--sukee-padding-xs: 8px;
	--sukee-padding-sm: 12px;
	--sukee-padding: 16px;
	--sukee-padding-md: 20px;
	--sukee-padding-lg: 24px;
	--sukee-padding-xl: 32px;
	/* 外边距 */
	--sukee-margin-xxs: 4px;
	--sukee-margin-xs: 8px;
	--sukee-margin-sm: 12px;
	--sukee-margin: 16px;
	--sukee-margin-md: 20px;
	--sukee-margin-lg: 24px;
	--sukee-margin-xl: 32px;
	--sukee-margin-xxl: 48px;
}
