@import "../../style/variable";
@import "./mixin";

@button-prefix-cls: ~"@{sukee-prefix}-button";

.@{button-prefix-cls} {
	box-shadow: none;
	font-size: @sukee-font-size-regular;
	line-height: 20px;
	height: 32px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	user-select: none;
	border-radius: @sukee-border-radius-small;
	padding: 6px 12px;
	outline: none;
	vertical-align: middle;
	white-space: nowrap;
	color: #FFFFFF;
	margin: 4px;
	background-color: @sukee-color-border;

	&-primary {
		.button-mixin(@sukee-color-primary, @sukee-color-primary-hover, @sukee-color-primary-active, @sukee-color-light-primary, @sukee-color-light-primary-hover, @sukee-color-light-primary-active);
	}

	&-secondary {
		.button-mixin(@sukee-color-secondary, @sukee-color-secondary-hover, @sukee-color-secondary-active, @sukee-color-light-secondary, @sukee-color-light-secondary-hover, @sukee-color-light-secondary-active);
	}

	&-tertiary {
		.button-mixin(@sukee-color-tertiary, @sukee-color-tertiary-hover, @sukee-color-tertiary-active, @sukee-color-light-tertiary, @sukee-color-light-tertiary-hover, @sukee-color-light-tertiary-active);
	}

	&-warning {
		.button-mixin(@sukee-color-warning, @sukee-color-warning-hover, @sukee-color-warning-active, @sukee-color-light-warning, @sukee-color-light-warning-hover, @sukee-color-light-warning-active);
	}

	&-danger {
		.button-mixin(@sukee-color-danger, @sukee-color-danger-hover, @sukee-color-danger-active, @sukee-color-light-danger, @sukee-color-light-danger-hover, @sukee-color-light-danger-active);
	}

	&-success {
		.button-mixin(@sukee-color-success, @sukee-color-success-hover, @sukee-color-success-active, @sukee-color-light-success, @sukee-color-light-success-hover, @sukee-color-light-success-active);
	}

	&-disabled {
		cursor: not-allowed;
	}
}
